{{ define "nav-bar" }}
<nav class="nav-bar">
    <div class="nav-content">
        <div class="nav left">
            {{ if .auth }}
                <a href="/profile" class="nav-item">Profile</a>
            {{ end }}
        </div>
        <div class="nav right">
            {{ if .auth }}
                <a href="/logout" class="nav-item">Logout</a>
            {{ else }}
                <a href="/signup" class="nav-item">Signup</a>
                <a href="/login" class="nav-item">Login</a>
            {{ end }}
        </div>
    </div>
</nav>
{{ end }}
