<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {{ template "header" . }}
</head>
<body>
    {{ template "nav-bar" . }}
    <div class="d-flex col">
        <h1>Signup</h1>
        <div class="box d-flex col">
            {{ template "errors" . }}
            <form class="signup-form" action="/signup" method="POST">
                Email: <input type="text" name="email" required><br>
                Password: <input type="password" name="password" required><br>
                Password confirmation: <input type="password" name="passwordConfirmation" required><br>
                <input type="submit" value="Signup"/>
            </form>
            <br>
            <form class="class" action="/google/sign" method="GET">
                <input type="submit" class="google" value="Signup GOOGLE"/>
            </form>
        </div>
    </div>
    {{ template "scripts" . }}
</body>
</html>
