@import url('https://fonts.googleapis.com/css?family=Work+Sans');

@import "modules/navbar";
@import "modules/box";
@import "modules/error";
@import "modules/profile";
@import "modules/modal";

body {
    margin: 0;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    &.row {
        flex-direction: row;
    }

    &.col {
        flex-direction: column;
    }
}

input {
    height: 25px;
    min-width: 300px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0, .25);
}

input[type="submit"], .button {
    background-color: deepskyblue;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    &:hover {
        background-color: lighten(deepskyblue, 8);
    }
    &.google {
        background: #ff1c2c
    }
}

form {
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'Work Sans', sans-serif;
    color: #2c2c2c;
}

