.modal {
    position: fixed;
    background: #000000a3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
        background: white;
        border-radius: 5px;
        width: 500px;
        height: 300px;
        padding: 30px;
    }
}

