
.nav-bar {
    height: 70px;
    width: 100%;
    background: #eeeeee;
}
.nav-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    &.right {
        flex-basis: 100px;
    }
    .nav-item {
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;
        padding: 0 20px;
        min-width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transition: .3s;
        &:hover {
            background: white;
        }
    }
}
