.profile-card {
    width: 300px;
    .title {
        font-size: 14px;
        color: #787878;
    }
    .value {
        font-size: 20px;
    }
    .item {
        margin: 30px 0;
    }
    .button {
        background-color: #1abe58;
        &:hover {
            background-color: lighten(#1abe58, 8);
        }
        width: 100px;
    }
}
